<div class="dataTables_wrapper">
{% if table.features.quicksearch  %}{% include "ua2/table3/quicksearch.html" %}{% endif %}
<form method="POST" action="">
<table class="table table-striped table-bordered table-condensed dataTable" id="id_{{ table.id }}">
    <thead>
        <tr>
        {% for column in header %}
        {{ column }}
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.rows %}
        <tr class="{{ forloop.counter|divisibleby:2|yesno:"even,odd" }}">
            {% for cell in row.cells %}
            <td>{{ cell.as_html }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% if table.features.paginator %}
{% include "ua2/table3/paginator.html" %}
{% endif %}
</div>