<div class="dataTables_wrapper">
    <ul class="nav nav-pills dataTables-nav">
        <li class="active">
            {% if table.features.quicksearch  %}
               {% include "ua2/table3/quicksearch.html" %}
            {% endif %}
            {% if table.features.category %}
              {% include "ua2/table3/category.html" %}
            {% endif %}
            {% for plugin in table.features.postaction %}
              {% include "ua2/table3/post_action.html" %}
            {% endfor %}
        </li>
    </ul>
<form id="id_{{ table.id }}_form" name="{{ table.id }}_form" action="" method="POST">
{% csrf_token %}
<table class="table table-striped table-bordered table-condensed dataTable" id="id_{{ table.id }}">
    <thead>
        <tr>
        {% for column in header %}
        {{ column }}
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.rows %}
        <tr class="{{ forloop.counter|divisibleby:2|yesno:"even,odd" }} {{ row.html_class }}" {{ row.html_attrs }}>
            {% for cell in row.cells %}
            <td {{ cell.html_attrs }}>{{ cell.as_html }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if table.features.paginator %}
{% include "ua2/table3/paginator.html" %}
{% endif %}
</div>
