             <li class="dropdown pull-right">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{{ plugin.label }} <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    {% for action, label in plugin.actions %}
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#" onclick="{{ table.id }}_form.action='./{{ action}}/'+location.search; {{ table.id }}_form.submit();">{{ label }}</a>
                      </li>
                    {% endfor %}
                </ul>
              </li>
