{% load i18n %}
{% with table.features.quicksearch as plugin %}
<form method="GET" action="" class="input-append" name="{{ table.id }}_quicksearch">
    <input placeholder="{% trans 'search...' %}" autocomplete="off" class="input-medium" type="text" name="quicksearch" {% if plugin.search_string %}value="{{ plugin.search_string }}"{% endif %}/>
    <button class="btn" type="submit">
        <i class="icon-search"></i>
    </button>
    {% if plugin.active %}
    <button class="btn" type="submit" onclick="{{ table.id }}_quicksearch.quicksearch.value=''; {{ table.id }}_quicksearch.submit();">
        <i class="icon-remove"></i>
    </button>
    {% endif %}
</form>
{% endwith %}